# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

#Simulation pictures 
simulation main (algorithm 0).png
simulation main (algorithm 1).png
simulation main (algorithm 2).png
simulation main (algorithm 3).png
simulation main (algorithm 4).png

