# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

#Simulation pictures 
simulation_main(algorithm 0).png
simulation_main(algorithm 1).png
simulation_main(algorithm 2).png
simulation_main(algorithm 3).png
simulation_main(algorithm 4).png

